# Compiled Python files
__pycache__/
*.pyc

# Python egg and distribution directories
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
.venv/
.ENV/

# Data
#data/raw/*.csv
data/processed/*.csv
data/models/*.h5

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System and editor files
.DS_Store
*.swp
*.swo
*~

# IDE-specific files
.idea/
.vscode/


